
	<title>Hi!!!</title>
	
	<section class="loginform cf">  
	<!-- <form role="form" action="/auth/local" method="post">
	    <ul>  
	        <li><label for="usermail">Email</label>  
	        <input id='email' type="email" name="usermail identifier" placeholder="yourname@email.com" required></li>  
	        <li><label for="password">Password</label>  
	        <input id="pass" type="password" name="password" placeholder="password" required></li>  
	        <li>  
	        <input id="submit" type="submit" value="Login"></li>  
	    </ul>  
	</form>   -->
	<h3 id="errorForm"> <%- req.flash('msgError') %> </h3>
	

	<form role="form" action="/auth/local" method="post">
        <input id='username' type="text" name="identifier" placeholder="Username or Email">
        
        <input id='pass' type="password" name="password" placeholder="Password">

        <button id="submit" type="submit">Sign in</button>
      </form>
	</section>  
