	<style type="text/css" src="/style/index.css"></style>
	<section class="registerForm">
		<!-- <form role="form" action="/auth/local/register" method="post"> -->
		<form role="form" action="/auth/twitter" method="post">
			<input type="text" name="name" placeholder="Name" required>
			<input type="text" name="lastName" placeholder="Last Name" required>
			<input type="text" name="username" placeholder="Username" required>
			<!-- <input type="email" name="email" placeholder="Email" required> -->
			<input type="password" name="password1" placeholder="Password" required>
			<input type="password" name="password2" placeholder="Confirm Password" required>
			<input type="submit" value="Sign Up">
		</form>
	</section>