<head><title>Labit Homepage</title></head>


<!---
<style type="text/css" src="/style/index.css"></style>
<script src="js/model/register.js"></script>
-->

<div class="container-fluid">
    <div class="row">
        <div class="md-col-6">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <h2>Regístrate en Labit</h2>
                    </div>
                    <form role="form" action="/auth/local/register" method="post">
                        <div class="col-lg-6">
                            <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required
                                    Field</strong></div>
                            <div class="form-group">
                                <label for="InputName">Ingrese su nombre</label>

                                <div class="input-group">
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Nombre"
                                           required>
                                    <span class="input-group-addon"><span
                                                class="glyphicon glyphicon-asterisk"></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="InputLastName">Ingrese su Apellido</label>

                                <div class="input-group">
                                    <input type="text" class="form-control" name="lastName" id="lastName"
                                           placeholder="Apellido" required>
                                    <span class="input-group-addon"><span
                                                class="glyphicon glyphicon-asterisk"></span></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="InputUsername">Ingrese su Nombre de Usuario</label>

                                <div class="input-group">
                                    <input type="text" class="form-control" name="username" id="username"
                                           placeholder="Nombre de Usuario" required>
                                    <span class="input-group-addon"><span
                                                class="glyphicon glyphicon-asterisk"></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="InputEmail">Ingrese su Email</label>

                                <div class="input-group">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                           required>
                                    <span class="input-group-addon"><span
                                                class="glyphicon glyphicon-asterisk"></span></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="InputPassword">Ingrese contraseña</label>

                                <div class="input-group">
                                    <input type="password" class="form-control" id="pass" name="password"
                                           placeholder="Contraseña" required>
                                    <span class="input-group-addon"><span
                                                class="glyphicon glyphicon-asterisk"></span></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="InputConfirmPassword">Confirme la contraseña</label>

                                <div class="input-group">
                                    <input type="password" class="form-control" id="pass2" name="password2"
                                           placeholder="Contraseña" required>
                                    <span class="input-group-addon"><span
                                                class="glyphicon glyphicon-asterisk"></span></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="InputRole">Seleccione su rol</label>

                                <div class="input-group">
                                    <form>
                                        <input type="radio" name="role" value="student" checked>Estudiante<br>
                                        <input type="radio" name="role" value="professor">Profesor
                                    </form>
                                </div>
                            </div>

                            <input type="submit" name="submit" id="submit" value="Listo"
                                   class="btn btn-info pull-right">
                        </div>
                    </form>
                    <div class="col-lg-5 col-md-push-1">
                        <div class="col-md-12">

                            <h3 class="alert-danger" id="errorForm"> <%- req.flash('msgError') %> </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="md-col-6">
            <section class="loginform cf">
                <!-- <form role="form" action="/auth/local" method="post">
                    <ul>
                        <li><label for="usermail">Email</label>
                        <input id='email' type="email" name="usermail identifier" placeholder="yourname@email.com" required></li>
                        <li><label for="password">Password</label>
                        <input id="pass" type="password" name="password" placeholder="password" required></li>
                        <li>
                        <input id="submit" type="submit" value="Login"></li>
                    </ul>
                </form>   -->
                <h3 id="errorForm"> <%- req.flash('msgError') %> </h3>


                <form role="form" action="/auth/local" method="post">
                    <input id='login-username' type="text" name="identifier" placeholder="Username or Email">

                    <input id='login-pass' type="password" name="password" placeholder="Password">

                    <button id="login-submit" type="submit">Sign in</button>
                </form>
            </section>

        </div>
    </div>
</div>
