<!DOCTYPE html>
<html>
<head>
	<title>Hi!!!</title>
	<script src="/js/index.js"></script>
	<style type="text/css" src="/style/index.css"></style>
</head>
<body>

	<section class="loginform cf">  
	<form name="login" action="index_submit" method="get" accept-charset="utf-8">  
	    <ul>  
	        <li><label for="usermail">Email</label>  
	        <input id='email' type="email" name="usermail" placeholder="yourname@email.com" required></li>  
	        <li><label for="password">Password</label>  
	        <input id="pass" type="password" name="password" placeholder="password" required></li>  
	        <li>  
	        <input type="submit" value="Login"></li>  
	    </ul>  
	</form>  
	</section>  

</body>
</html>