
	<title>Labit</title>

    <div class="container">
        <div class="jumbotron">
            <h1>Bienvenido al Sistema!</h1>
            <p>Este es el lugar desde el cual podrás ir a todas partes del sitio.</p>
            <!--p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p-->
        </div>

        <div class="container col-md-4">
            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading">Actividades</div>
                <div class="panel-body">
                    <a href="question">Preguntas</a>
                </div>
                <div class="panel-body">
                    <a href="student">PDF de la clase</a>
                </div>
            </div>
        </div>

    </div>

	<!-- <section class="loginform cf">
	<form name="login" action="index_submit" method="get" accept-charset="utf-8">  
	    <ul>  
	        <li><label for="usermail">Email</label>  
	        <input id='email' type="email" name="usermail" placeholder="yourname@email.com" required></li>  
	        <li><label for="password">Password</label>  
	        <input id="pass" type="password" name="password" placeholder="password" required></li>  
	        <li>  
	        <input id="submit" type="submit" value="Login"></li>  
	    </ul>  
	</form>  
	</section>   -->
