<h1>Arme sus preguntas:</h1>
<div class="center" ng-controller="QuestionControllerProfessor">
    <form>
            <input id="text" type="text" placeholder="Preguntas" ng-model="text">
            <ul id="allAnswers">
                <li><input type="text" placeholder="Respuesta" class="visible"><button ng-click="removeAnswer($event)">X</button></li>
                <li  id="template" class="hidden"><input  type="text" placeholder="Respuesta"><button ng-click="removeAnswer($event)">X</button></li>
            </ul>
            <button  class="web_button" ng-click="addAnswer()">Otra Opcion</button>
            <button class="web_button" id="send" type="submit" ng-click="addQuestion()">Enviar</button>
    </form>
    <p ng-model="saveOk">{{saveOk}}</p>
</div>