<div ng-controller="pdfViewer">


    <div align="center">
        <canvas id="contentShareCanvas" class="canvasStudent" height="633" width="490"
                style="width: 100%"></canvas>
    </div>
</div>