<div ng-controller="professorManager">
    <div class="page-header" align="center">

        <b class="titulo">
            Pagina de Administración del Profesor
        </b>
        <img src="/images/logo_labit.png" alt="..." class="logo">
    </div>

    <div class="container-fluid">
        <!-- Navigation Bar -->
        <div class="row">
            <div class="col-md-10">
                <ul class="nav nav-tabs" role="tablist" ng-controller="professorTab">
                    <li ng-class="{active:isActive('/')}"><a href="#">Subir Archivo</a></li>
                    <li ng-class="{active:isActive('/fileShare')}"><a href="#fileShare">Compartir Archivo</a></li>
                    <li ng-class="{active:isActive('/dashboard')}"><a href="#">Hacer Pregunta</a></li>
                    <li ng-class="{active:isActive('/dashboard')}"><a href="#">Asistencia</a></li>
                </ul>
            </div>


            <div class="col-md-2">
                <select class="form-control" ng-model="id_class_to_share">
                    <option value=""></option>
                    <option ng-repeat="class in live_class_students">{{ class.id }}</option>
                </select>
            </div>
        </div>

        <div style="background: white;">

            <!-- All the content that can be selected -->
            <div class=" row">
                <div class="col-md-8" align="center" ng-view style="background: white;min-height: 100%;">
                    <!-- Variable content-->
                </div>
                <div class="col-md-4">
                    <!--Right content-->
                </div>
            </div>

        </div>

    </div>
    <!-- Footer Controls (mostly content sharing controls)-->
    <div class="navbar navbar-default navbar-fixed-bottom" ng-controller="professorManagerFooter">
        <div class="container">
            <div class="row">

                <div class="col-md-4 tituloPDF">
                    <br>
                    Presentacion: {{pdfName}}
                </div>
                <div class="col-md-4">
                    <div class="checkbox">
                        <label class="cbox">
                            <input type="checkbox" ng-model="synchronize" ng-change="pageStageChange(true)"> Sincronizar
                        </label>
                    </div>
                    <div class="checkbox">
                        <label class="cbox">
                            <input type="checkbox" ng-model="allowNavigation" ng-change="pageStageChange(true)"> No
                            Permitir
                            Navegación
                        </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div id="pdfPrev" type="button" class="btn-group">
                        <button type="button" class="btn btn-info btn-sm" ng-click="prevPage()" ng-disabled="!sharing">
                            <b>Anterior</b>
                        </button>
                    </div>
                    <div id="pdfNext" type="button" class="btn-group">
                        <button type="button" class="btn btn-info btn-sm" ng-click="nextPage()" ng-disabled="!sharing">
                            <b>Siguiente</b>
                        </button>
                    </div>
                    <div><b>
                            Página
                            <span id="page_num">{{pageNum}}</span>
                            /
                            <span id="page_count">{{pageTotal}}</span>
                        </b>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn" ng-click="stopSharing()" ng-disabled="!sharing">Dejar de Compartir</button>
                </div>
            </div>
        </div>
    </div>
</div>