
<div class="bkd" ng-app="app">
    <div class="container bkdW" ng-controller="update_PdfsController">
        <table class="table table-striped table-hover table-condensed">
                <caption> Archivos Subidos</caption>
            <thead>
            <tr>
                <th>#</th>
                <th>Nombre del Archivo</th>
                <th> Compartido </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pdf in pdfs">
                <td>{{ pdf.id }}</td>
                <td>{{ pdf.nombre }}</td>
                <td class="text-center">
                    <img src="images/ico_pdf.png" ng-click="share(pdf.id,pdf.ruta,pdf.nombre)">
                </td>
            </tr>
            </tbody>
        </table>

        <div>
            <div> Ingrese el ID de la clase a la cual desea compartir:
                <select class="form-control" ng-model="id_class_to_share" style="width: 300px" value="CLASS1">
                    <option></option>
                    <option></option>
                    <option></option>
                    <option></option>
                    <option></option>
                </select>
                <!--input type="text" ng-model="id_class_to_share" value="CLASS1"-->
            </div>

            <br> <br> <br>
            <p> ID Archivo compartido:      {{pdf_id}} </p>
            <p> Nombre Archivo compartido:  {{pdf_nombre}} </p>
            <p> Ruta para mostrar PDF:      {{pdf_route}} </p>

            <br> <br>
            <button ng-click="stopSharing()">Dejar de Compartir</button>

        </div>
    </div>
</div>
