<div class="bkd" ng-app="app_getPdfs">
    <br><br>

    <div class="container bkdW" ng-controller="PdfsController">

        <table class="table table-striped table-hover">
            <caption> Archivos Subidos</caption>
            <thead>
            <tr>
                <th>#</th>
                <th>Nombre del Archivo</th>
                <th> Compartido </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pdf in pdfs">
                <td>{{ pdf.id }}</td>
                <td>{{ pdf.nombre }}</td>
                <td>
                    <div class="radio">
                        <label>
                            <input type="radio" name="comp" id="rad2" value="2" checked>
                        </label>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

</div>
