<div ng-controller="professorCourse" id="professorCourse">
    <div class="page-header" align="center" style="margin-top: 0px">

        <b class="titulos">
            Cursos Disponibles
        </b>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" style="background: white">
                <br>
                <button class="btn btn-default" ng-click="addCourse()">Agregar Nuevo Curso</button>
                <table class="table table-striped table-hover table" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Cursos <i class="fa fa-spinner fa-spin" ng-class="loading"></i></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="c in courses | filter:{name:'!!'}" ng-click="">
                        <td>
                              <span editable-text="c.name" e-form="rowform" onbeforesave="checkName($data)">
          {{ c.name || 'empty' }}
                              </span>
                        </td>
                        <td class="text-center" style="width: 300px">
                            <form editable-form name="rowform" ng-show="rowform.$visible"
                                  onbeforesave="saveCourse(rowform.$data, c.id)"
                                  class="form-buttons form-inline" shown="c.name == ''">
                                <span ng-disabled="rowform.$waiting"
                                      class="pointer pointer-success" ng-click="rowform.$submit()">
                                    <span class="fa fa-check fa-2x"></span>
                                </span>
                                &numsp;
                                <span type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                      class="pointer pointer-danger">
                                    <span class="fa fa-remove fa-2x"></span>
                                </span>
                            </form>
                            <div>
                                <span class="pointer" ng-click="rowform.$show()"
                                      ng-hide="rowform.$visible">
                                    <span class="fa fa-edit fa-2x"></span>
                                </span>
                                &numsp;
                                <span class="pointer pointer-danger" ng-click="removeCourse($index)"
                                      ng-hide="rowform.$visible">
                                    <span class="fa fa-trash fa-2x" d></span>

                                </span>
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>