<div class="container-fluid">
    <div class="bkdW">

        <div class="bkd row" align="center">
            <div class="col-md-10" align="center">
                <p class="titulo" style="padding-bottom:18px;" align="center">
                    <b>
                        Pagina de Administración del Profesor
                    </b>
                </p>
            </div>

            <div class="logo col-md-2">
                <img src="/images/logo_labit.png" alt="..." class="logo">
                <br>
            </div>


        </div>

        <div class="bkd row">
            <div class="col-md-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#fileUpload">Subir Archivo</a></li>
                    <li><a href="#fileShare">Compartir Archivo</a></li>
                    <li><a href="#">Hacer Pregunta</a></li>
                    <li><a href="#">Asistencia</a></li>
                </ul>
            </div>
        </div>

        <div class="bkd row">

            <div class="col-md-8" align="center" ng-view="">

                <!--

                 TODO EL CONTENIDO VA ACA



                 -->
            </div>

            <div class="col-md-4">
                <!--Barra Derecha-->
            </div>

        </div>
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="bkd row">

                <div class="col-md-4 tituloPDF">
                    <br>
                    Presentacion: (Nombre del pdf compartiendo)
                </div>

                <div class="col-md-4">
                    <div class="checkbox">
                        <label class="cbox">
                            <input type="checkbox"> Sincronizar
                        </label>
                    </div>
                    <div class="checkbox">
                        <label class="cbox">
                            <input type="checkbox"> No Permitir Navegación
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="pdfPrev" type="button" class="btn-group">
                        <button type="button" class="btn btn-info btn-sm" ng-click="prevPage()"><b>Anterior</b></button>
                    </div>
                    <div id="pdfNext" type="button" class="btn-group">
                        <button type="button" class="btn btn-info btn-sm" ng-click="nextPage()"><b>Siguiente</b>
                        </button>
                    </div>
                    <div><b>
                            Página
                            <span id="page_num">{{pageNum}}</span>
                            /
                            <span id="page_count">{{pageTotal}}</span>
                        </b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>