<div ng-controller="professorScreen">
    <div align="center" ng-controller="pdfViewer">
        <canvas id="contentShareCanvas" class="canvasStudent" height="633" width="490"
                style="width: 100%"></canvas>
    </div>
</div>