<div ng-controller="QuestionController">
    <h1>Preguntas:</h1>
    
    <div class="questions">
        <div class="question" ng-repeat="question in questions">
           
            <p class="status-{{question.status}}" id="{{question.id}}" ng-click="searchAnswers(this)">{{question.text}}</p>

        </div>
    </div>
    <div id="answers"> 
    <p>Cantidad de Respuestas: {{responses.length}}</p>
        <div ng-repeat="response in answers">
            <p id="{{response.id}}" >{{response.user}} --> {{response.answer}}</p>
        </div>
    </div>
   
</div>
