<!DOCTYPE HTML>
<html ng-app='question'>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Cuestionario con AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>
    <script>
    angular.module('question', [])
        .controller('TestController', ['$scope', function ($scope) {
            $scope.questions = [
                {
                    id : 1,
                    text:'',
                    validAnswer : 1,
                    userAnswer : null,
                    status : '',
                    answers: [
                        {id : 1, text : 'Respuesta 1.1'},
                        {id : 2, text : 'Respuesta 1.2'},
                        {id : 3, text : 'Respuesta 1.3'}
                    ]
                },
                {
                    id : 2,
                    text:'Otra pregunta',
                    validAnswer : 2,
                    userAnswer : null,
                    status : '',
                    answers: [
                        {id : 1, text : 'Respuesta 2.1'},
                        {id : 2, text : 'Respuesta 2.2'}
                    ]
                }
            ];
         
            $scope.userStatus = '';
         
            $scope.validAnswers = 0;
         
        }])
    </script>
   
</head>

<body>
<div id="test" ng-controller="TestController">
    <h1>Ejemplo de cuestionario utilizando AngularJS</h1>
    
    <div class="questions">
        <div class="question" ng-repeat="question in questions">
            <p class="status-{{question.status}}">{{question.text}}</p>
            <div class="answers" ng-repeat="answer in question.answers">
                <input type="radio" ng-model="question.userAnswer" value="{{answer.id}}"
                       name="question-{{question.id}}" id="answer-{{question.id}}-{{answer.id}}"
                       ng-change="validate(question)"/>
                <label for="answer-{{question.id}}-{{answer.id}}">{{answer.text}}</label>
            </div>
        </div>
    </div>
    <div class="userStatus {{userStatus}}">
        <span>Has acertado {{validAnswers}} de {{questions.length}}</span>
    </div>
</div>
</body>
</html>