<style type="text/css">
	input{
		display: block;
	}
</style>
<form role="form" action="/student" method="post">
	<input type="text" name="name" placeholder="Name">
	<input type="text" name="lastName" placeholder="Last Name">
	<input type="text" name="userName" placeholder="Username">
	<input type="password" name="password" placeholder="Password">
	<button type="submit">Sign up</button>
</form>