<div >
    <div>

        <div class="container bkdW" ng-app="myApp"  ng-controller = "update_PdfsController1">
                    <ul ng-repeat="live_class_student in live_class_students">
                        <li> {{live_class_student.id}} </li>
                        <li> {{live_class_student.pdf_ruta}} </li>
                        <li> {{live_class_student.pdf_activo }}</li>
                    </ul>
        </div>

    </div>



</div>
