<div>
    <div>

        <div class="container bkdW" ng-controller="contentShared">
            <table class="table table-striped table-hover table-condensed">
            <tr ng-repeat="live_class_student in live_class_students" ng-click="subscribeToLiveClass(live_class_student.id)">
                <td> {{live_class_student.id}}</td>
                <td> {{live_class_student.pdf_ruta}}</td>
                <td> {{live_class_student.pdf_activo }}</td>
            </tr>
            </table>
        </div>

        <canvas id="contentShareCanvas" style="border:1px solid black;"></canvas>
    </div>
</div>
