<div ng-app="myApp">
    <div>

    </div>
    <div ng-controller="studentScreen">
        {{pdf.nombre}}<br>
        <canvas id="the-canvas" style="border:1px solid black;"></canvas>
    </div>
</div>



