<body class="bodyStudent" ng-app="app" ng-controller="contentShared">
    <div>

        <br><br>
        <div> Ingrese la ID Clase a la cual desea suscribirse:
            <select class="form-control" ng-model="id_subscribedClass" style="width: 400px">
                <option></option>
                <option></option>
                <option></option>
                <option></option>
                <option></option>
            </select>
            <!--input type="text" ng-model="id_subscribedClass"-->
            <button ng-click="subscribe_to_class()">Suscribirse</button>
        </div>
        <br><br><br>

        <div> ID Clase      Suscripto:          {{idClase}}             </div>
        <div> Estado        PDF Compartido:     {{estadoPDF}}           </div>
        <div> Ruta          PDF Compartido:     {{rutaPDF}}             </div>
        <div> Pagina Actual PDF Compartido:     {{paginaActualPDF}}     </div>




        <div class="page-header" align="center">
            <h1 align="center" class="h1"><b>Archivo PDF</b></h1>
            <!--- en h2 debería ir el nombre del archivo que se compartio--->
        </div>

        <div>
            <div align="center">
                <div type="button" class="btn-group">
                    <button type="button" class="btn btn-info btn-sm"><b>Anterior</b></button>
                </div>
                <div type="button" class="btn-group">
                    <button type="button" class="btn btn-info btn-sm"><b>Siguiente</b></button>
                </div>
                <span><b>
                    Página
                    <span id="page_num">1</span>
                    /
                    <span id="page_count">2</span>
                    </b></span>
            </div>

            <div align="center">
                 <canvas id="contentShareCanvas" class="canvasStudent"
                        height="633" width="490"></canvas>
            </div>

        </div>
    </div>
</body>