<body class="bodyStudent">
    <div>

        <div class="page-header" align="center">
            <h1 align="center" class="h1"><b>Archivo PDF</b></h1>
            <!--- en h2 debería ir el nombre del archivo que se compartio--->
        </div>

        <div>
            <!---
            <div class="container bkdW" ng-controller="contentShared">

                <table class="table table-striped table-hover table-condensed">
                    <tr ng-repeat="live_class_student in live_class_students"
                        ng-click="subscribeToLiveClass(live_class_student.id)">
                        <td> {{live_class_student.id}}</td>
                        <td> {{live_class_student.pdf_ruta}}</td>
                        <td> {{live_class_student.pdf_activo }}</td>
                    </tr>
                </table>
            </div>
            --->

            <div align="center">
                <div type="button" class="btn-group">
                    <button type="button" class="btn btn-info btn-sm"><b>Anterior</b></button>
                </div>
                <div type="button" class="btn-group">
                    <button type="button" class="btn btn-info btn-sm"><b>Siguiente</b></button>
                </div>
                <span><b>
                    Página
                    <span id="page_num">1</span>
                    /
                    <span id="page_count">2</span>
                    </b></span>
            </div>

            <div align="center">
                 <canvas id="contentShareCanvas" class="canvasStudent"
                        height="633" width="490"></canvas>
            </div>

        </div>
    </div>
</body>