.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #CEECF5;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #81BEF7;
}

.tituloPDF{
    font-size: 16px;
    color: navy;
    font-weight: bold;
}

.logo{
    width: 120px;
    height: 115px;
}

.buscar{
    width: 190px;
    height: 300px;
}

.titulo {
    color: #1071de;
    font-size: 30px;
}

.cbox{
    font-size: 13px;
    color: navy;
    font-weight: normal;
}

.cb{
    font-size: 15px;
    color: navy;
}
.pestanas{
    font-size: 12px;
    color: navy;
    font-weight: bold;
}

.bdk{
    background-image: url("/images/wood.png");
}

.navbar-xs  {
    min-height:39px;
    height: 39px;
}

.btn-as{
    font-size: 12px;
    color: navy;
    font-weight: normal;
}

#professorManager {
    margin-bottom: 50px;
}

    @media (max-width: 800px) {
        #professorManager {
            margin-bottom: 128px;
        }
    }
