.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #CEECF5;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #81BEF7;
}

.tituloPDF{
    font-size: 16px;
    color: navy;
    font-weight: bold;
}

.logo{
    width: 190px;
    height: 185px;
}

.buscar{
    width: 190px;
    height: 300px;
}

.titulo {
    color: #5682de;
    font-size: 50px;
}

.cbox{
    font-size: 14px;
    color: navy;
    font-weight: bold;
}