<div class="row" ng-controller="uploadFormController">
    <form class="form-horizontal" role="form"
          id="uploadForm"
          enctype="multipart/form-data"
          action="api/file/upload"
          method="post">

        <br><br>
        <div style="">
        <div class="form-group">
            <label class="col-sm-2" for="select_newFile_button">Nombre del Archivo</label>

            <div class="col-sm-6">
                <input type="text" class="form-control" name="nombreArchivo" placeholder="Introducir Nombre del Archivo Subido..." ng-model="newName_file_toUpload">
            </div>


        </div>

        <div class="form-group">
            <div class="col-sm-4">
                <input type="file" id="select_newFile_button" name="uploadFile"  ng-model="newRoute_file_toUpload">
            </div>
            <div class="col-sm-4">
            <button type="submit" class="btn btn-default" id="submit_newFile_button">Subir</button>
            </div>
        </div>



        <br><br>
        </div>

    </form>


</div>

<div class="row" ng-controller="professorFileShare">
    <div class="col-md-10">
        <table class="table table-striped table-hover table-condensed">
            <caption><p class="tituloPDF"> Archivos Subidos </p></caption>
            <thead>
            <tr>
                <!--th>#</th-->
                <th>Nombre del Archivo</th>
                <th> Compartir</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pdf in pdfs" ng-click="share(pdf.id,pdf.ruta,pdf.nombre)">
                <!--td>{{ pdf.id }}</td-->
                <td>{{ pdf.nombre }}</td>
                <td class="text-center">
                    <img id="img_{{ pdf.id }}" src="images/ico_pdf.png">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        <div id="warningMsg" class="alert alert-danger" role="alert" ng-class="{hidden:warning.class}">{{warning.msg}}</div>
    </div>
</div>

