<div class="input-group input-group-sm">
    <div class="input-group input-group-sm">
                              <span class="input-group-addon cbox">
                                Nombre del Archivo
                              </span>
        <input type="text" class="form-control">
    </div> <!-- /input-group -->
</div> <!-- /.col-lg-6 -->

<div class="input-group input-group-sm">
    <br>
    <div class="input-group input-group-sm">
                              <span class="input-group-btn">
                                <button class="btn btn-default cbox" type="button">Buscar</button>
                              </span>
        <input type="text" class="form-control">
    </div> <!-- /input-group -->
</div> <!-- /.col-lg-6 -->