<div class="row" ng-controller="professorFileShare">
    <div class="col-md-10">
        <table class="table table-striped table-hover table-condensed">
            <caption><p class="tituloPDF"> Archivos Subidos </p></caption>
            <thead>
            <tr>
                <th>Nombre del Archivo</th>
                <th style="text-align: center;"> Compartir</th>
                <th style="text-align: center;"> Editar</th>
                <th style="text-align: center;"> Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pdf in pdfs">
                <td>
                     <span editable-text="pdf.nombre" e-form="textBtnForm">{{ pdf.nombre || 'empty' }} </span>
                </td>
                <td class="text-center" align="center">
                    <a href="" ng-click="share(pdf.id,pdf.ruta,pdf.nombre)">
                        <img id="img_{{ pdf.id }}" src="images/ico_pdf.png">
                    </a>
                </td>
                <td align="center">
                    <form editable-form name="rowform" ng-show="rowform.$visible" onbeforesave="savePdf(rowform.$data, pdf.id)"
                          class="form-buttons form-inline" shown="inserted == pdf">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <a href="" ng-click="rowform.$show()" ng-hide="rowform.$visible">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </td>
                <td align="center">
                    <a href="" ng-click="removePdf($index)" ng-hide="rowform.$visible">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        <div id="warningMsg" class="alert alert-danger" role="alert" ng-class="{hidden:warning.class}">{{warning.msg}}
        </div>
    </div>
</div>