<h1>Arme sus preguntas:</h1>
<div class="center" ng-controller="QuestionControllerProfessor">
    <form>
        <div class="input-group">
            <input placeholder="Titulo Pregunta" id="pregTitulo" type="text" class="form-control input-lg"
                   name="pregTitulo" ng-model="question_text">
        </div>


        <div class="input-group" ng-repeat="ans in answers" style="width: 50%">
            <input type="text" placeholder="Respuesta" class="form-control  input-lg" ng-model="ans.text">
            <span class="input-group-btn">
                <button class="btn btn-default btn-lg" ng-click="removeAnswer(ans)">X</button>
            </span>
        </div>


        <button class="btn btn-info" ng-click="addAnswer()">Otra Opcion</button>
        <button class="btn btn-info" id="send" type="submit" ng-click="addQuestion()">Enviar</button>
    </form>
    <b ng-model="error">{{error}}</b>
    <b ng-if="saveOk" ng-model="saveOk">Agregada exitosamente</b>
</div>