<h1>Arme sus preguntas:</h1>
<div class="center" ng-controller="QuestionControllerProfessor">
    <form>
            <input id="text"  type="text" placeholder="Preguntas" ng-model="text">
            <ul id="allAnswers">
                <li><input type="text" placeholder="Respuesta"></li>
                <li  id="template"><input  type="text" placeholder="Respuesta"></li>
            </ul>
            <button  class="web_button" ng-click="addAnswer()">Otra Opcion</button>
            <button class="web_button" id="send" type="submit" ng-click="addQuestion()">Enviar</button>
    </form>
    <b ng-model="error">{{error}}</b>
    <b ng-if="saveOk" ng-model="saveOk">Agregada exitosamente</b>
</div>